/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", sans-serif;
    color: #525252;
}

h1 {
    font-weight: 200;
}

h1 strong {
    font-weight: 700;
    /* destaque real */
}

p {
    font-size: clamp(1rem, 2.2vw, 1.125rem);
    line-height: 1.6;
}

p strong {
    font-weight: 700;
}


header {
    position: absolute;
    /* ou fixed, se quiser sempre visível */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;


    padding: 1.5rem 4rem;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0) 100%);
    /* importante */
}


nav ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

nav ul li+li {
    padding-left: 6rem;
}

nav ul li a {

    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}


#hero>* {
    position: relative;
    top: 56vh;
    z-index: 1;
}

#hero h1 {
    color: white;
    font-size: clamp(2.2rem, 6vw, 3.6rem);
    padding-bottom: 2rem;
    padding-left: 4rem;

}

#hero p {
    color: white;
    max-width: 50vw;
    padding-bottom: 2rem;
    padding-left: 4rem;

}

#hero #booking {
    margin-bottom: 2rem;

    font-size: 1.1rem;
}

#hero {
    min-height: 100vh;
    /* ocupa toda a viewport */
    background-image: url("./images/hero-bg.png");
    /* sua imagem */
    background-size: cover;
    /* preenche toda a área */
    background-position: center;
    /* centraliza a imagem */
    background-repeat: no-repeat;
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.75) 100%);
}

#hero>* {
    position: relative;
    z-index: 1;
}

.cta-primary {
    color: azure;
    margin-left: 4rem;
    padding: 1rem 2rem;
    background-color: #F6442C;
    text-decoration: none;
}

#trust-bar {
    padding-top: 4rem;
    height: 50vh;
    width: 100vw;
    background-color: aliceblue;
}

#trust-bar ul {
    text-align: center;

}

#trust-bar ul li {
    display: inline-block;
    list-style: none;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background-color: white;
    padding-top: 2rem;
    width: 20rem;
    height: 20rem;
    margin: 6rem;

}

#trust-bar ul li img {

    width: 10rem;
    height: 10rem;

}

#pricing-header {
    height: 50vh;
    width: 100vw;
    background-color: #F6442C;
    color: white;
}

.pricing-box {
    display: inline-block;
    width: 50%;
}


.left {
    float: left;
    width: 50%;

}


.left img {
    height: 50vh;
    width: 100%;
    object-fit: cover;

}


.right {
    float: right;
    width: 50%;
}


.right h1 {
    font-size: 4rem;
    padding-top: 4rem;
    padding-left: 4rem;
}

.right-bike {
    position: relative;
    right: -11vw;
    bottom: -3vh;
}

.right img {

    height: 30vh;
}

.bike-grid {
    height: 100vh;
    background-color: #D9D9D9;
    padding: 4rem;
}

.bike-card {
    height: 50vh;
    width: 20vw;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
}