/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", sans-serif;
    color: azure;
}

h1 {
    font-weight: 200;
}

h1 strong {
    font-weight: 700;
    /* destaque real */
}

p {
    line-height: 2rem;
}

p strong {
    font-weight: 700;
}

section {
    padding-left: 3rem;
    padding-right: 3rem;
}

header {
    position: absolute;
    /* ou fixed, se quiser sempre visível */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;


    padding: 1.5rem 3rem;
    background: transparent;
    /* importante */
}

#hero>* {
    position: relative;
    top: 56vh;
    z-index: 1;
}

#hero h1 {
    font-size: clamp(2.2rem, 5vw, 3.8rem);
    margin-bottom: 1rem;

}

#hero p {
    max-width: 50vw;
    margin-bottom: 2rem;
    font-size: 1rem;
}

#hero #booking {
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

#hero {
    min-height: 100vh;
    /* ocupa toda a viewport */
    background-image: url("./images/hero-bg.png");
    /* sua imagem */
    background-size: cover;
    /* preenche toda a área */
    background-position: center;
    /* centraliza a imagem */
    background-repeat: no-repeat;
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.75) 100%);
}

#hero>* {
    position: relative;
    z-index: 1;
}